
Android/.idea/workspace.xml
Android/.idea/workspace.xml
Android/.idea/misc.xml
*.bin
*.bin
Android/.gradle/4.6/fileHashes/fileHashes.bin
Android/local.properties
Android/local.properties
Android/local.properties
